--
-- PostgreSQL database dump
--

\restrict adV1RiIpkDGm5A1zNfiuPNYYKUEIpungNWNLkRccVw8p70RP3BIgA98jcW03GAi

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: estado_articulo; Type: TYPE; Schema: public; Owner: classux
--

CREATE TYPE public.estado_articulo AS ENUM (
    'Disponible',
    'No Disponible'
);


ALTER TYPE public.estado_articulo OWNER TO classux;

--
-- Name: estado_pedido; Type: TYPE; Schema: public; Owner: classux
--

CREATE TYPE public.estado_pedido AS ENUM (
    'Pendiente',
    'Asignado',
    'En transcurso',
    'Entregado',
    'Cancelado'
);


ALTER TYPE public.estado_pedido OWNER TO classux;

--
-- Name: estado_usuario; Type: TYPE; Schema: public; Owner: classux
--

CREATE TYPE public.estado_usuario AS ENUM (
    'Activo',
    'Inactivo'
);


ALTER TYPE public.estado_usuario OWNER TO classux;

--
-- Name: rol_usuario; Type: TYPE; Schema: public; Owner: classux
--

CREATE TYPE public.rol_usuario AS ENUM (
    'Administrador',
    'Repartidor'
);


ALTER TYPE public.rol_usuario OWNER TO classux;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Articulo; Type: TABLE; Schema: public; Owner: classux
--

CREATE TABLE public."Articulo" (
    id_articulo integer NOT NULL,
    codigo character varying(255),
    nombre character varying(255),
    descripcion character varying(255),
    costo_unitario numeric,
    precio numeric,
    cantidad_existencia numeric(10,2),
    stock_minimo numeric(10,2),
    proveedor character varying(255),
    estado public.estado_articulo,
    fecha_creacion timestamp with time zone DEFAULT now(),
    fecha_actualizacion timestamp with time zone,
    foto_url character varying(255)
);


ALTER TABLE public."Articulo" OWNER TO classux;

--
-- Name: Articulo_id_articulo_seq; Type: SEQUENCE; Schema: public; Owner: classux
--

CREATE SEQUENCE public."Articulo_id_articulo_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Articulo_id_articulo_seq" OWNER TO classux;

--
-- Name: Articulo_id_articulo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: classux
--

ALTER SEQUENCE public."Articulo_id_articulo_seq" OWNED BY public."Articulo".id_articulo;


--
-- Name: Calificacion; Type: TABLE; Schema: public; Owner: classux
--

CREATE TABLE public."Calificacion" (
    id_calificacion integer NOT NULL,
    id_pedido integer,
    puntuacion integer,
    comentario character varying(255),
    fecha_calificacion timestamp with time zone DEFAULT now()
);


ALTER TABLE public."Calificacion" OWNER TO classux;

--
-- Name: Calificacion_id_calificacion_seq; Type: SEQUENCE; Schema: public; Owner: classux
--

CREATE SEQUENCE public."Calificacion_id_calificacion_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Calificacion_id_calificacion_seq" OWNER TO classux;

--
-- Name: Calificacion_id_calificacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: classux
--

ALTER SEQUENCE public."Calificacion_id_calificacion_seq" OWNED BY public."Calificacion".id_calificacion;


--
-- Name: Cotizacion; Type: TABLE; Schema: public; Owner: classux
--

CREATE TABLE public."Cotizacion" (
    id_cotizacion integer NOT NULL,
    fecha_cotizacion timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    total numeric(10,2),
    cliente_nombre character varying(255),
    id_usuario_vendedor integer
);


ALTER TABLE public."Cotizacion" OWNER TO classux;

--
-- Name: Cotizacion_id_cotizacion_seq; Type: SEQUENCE; Schema: public; Owner: classux
--

CREATE SEQUENCE public."Cotizacion_id_cotizacion_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Cotizacion_id_cotizacion_seq" OWNER TO classux;

--
-- Name: Cotizacion_id_cotizacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: classux
--

ALTER SEQUENCE public."Cotizacion_id_cotizacion_seq" OWNED BY public."Cotizacion".id_cotizacion;


--
-- Name: Detalle_Cotizacion; Type: TABLE; Schema: public; Owner: classux
--

CREATE TABLE public."Detalle_Cotizacion" (
    id_detalle_cotizacion integer NOT NULL,
    id_cotizacion integer NOT NULL,
    id_articulo integer NOT NULL,
    cantidad integer,
    precio_unitario numeric(10,2),
    subtotal numeric(10,2)
);


ALTER TABLE public."Detalle_Cotizacion" OWNER TO classux;

--
-- Name: Detalle_Cotizacion_id_detalle_cotizacion_seq; Type: SEQUENCE; Schema: public; Owner: classux
--

CREATE SEQUENCE public."Detalle_Cotizacion_id_detalle_cotizacion_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Detalle_Cotizacion_id_detalle_cotizacion_seq" OWNER TO classux;

--
-- Name: Detalle_Cotizacion_id_detalle_cotizacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: classux
--

ALTER SEQUENCE public."Detalle_Cotizacion_id_detalle_cotizacion_seq" OWNED BY public."Detalle_Cotizacion".id_detalle_cotizacion;


--
-- Name: Detalle_Pedido; Type: TABLE; Schema: public; Owner: classux
--

CREATE TABLE public."Detalle_Pedido" (
    id_detalle integer NOT NULL,
    id_pedido integer,
    id_articulo integer,
    cantidad numeric(10,2),
    precio_unitario numeric,
    subtotal numeric
);


ALTER TABLE public."Detalle_Pedido" OWNER TO classux;

--
-- Name: Detalle_Pedido_id_detalle_seq; Type: SEQUENCE; Schema: public; Owner: classux
--

CREATE SEQUENCE public."Detalle_Pedido_id_detalle_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Detalle_Pedido_id_detalle_seq" OWNER TO classux;

--
-- Name: Detalle_Pedido_id_detalle_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: classux
--

ALTER SEQUENCE public."Detalle_Pedido_id_detalle_seq" OWNED BY public."Detalle_Pedido".id_detalle;


--
-- Name: Detalle_Venta; Type: TABLE; Schema: public; Owner: classux
--

CREATE TABLE public."Detalle_Venta" (
    id_detalle_venta integer NOT NULL,
    id_venta integer NOT NULL,
    id_articulo integer NOT NULL,
    cantidad numeric(10,2),
    precio_unitario numeric(10,2),
    subtotal numeric(10,2)
);


ALTER TABLE public."Detalle_Venta" OWNER TO classux;

--
-- Name: Detalle_Venta_id_detalle_venta_seq; Type: SEQUENCE; Schema: public; Owner: classux
--

CREATE SEQUENCE public."Detalle_Venta_id_detalle_venta_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Detalle_Venta_id_detalle_venta_seq" OWNER TO classux;

--
-- Name: Detalle_Venta_id_detalle_venta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: classux
--

ALTER SEQUENCE public."Detalle_Venta_id_detalle_venta_seq" OWNED BY public."Detalle_Venta".id_detalle_venta;


--
-- Name: Pedido; Type: TABLE; Schema: public; Owner: classux
--

CREATE TABLE public."Pedido" (
    id_pedido integer NOT NULL,
    numero_pedido character varying(255),
    cliente_nombre character varying(255),
    cliente_telefono character varying(255),
    cliente_identidad character varying(255),
    id_repartidor_asignado integer,
    id_admin_creador integer,
    estado public.estado_pedido,
    codigo_confirmacion character varying(255),
    costo_envio numeric,
    total numeric,
    direccion_entrega character varying(255),
    observacion character varying(255),
    fecha_creacion timestamp with time zone DEFAULT now(),
    fecha_asignacion timestamp with time zone,
    fecha_entrega timestamp with time zone,
    fecha_cancelacion timestamp with time zone,
    motivo_cancelacion character varying(255),
    link_seguimiento character varying(255)
);


ALTER TABLE public."Pedido" OWNER TO classux;

--
-- Name: Pedido_id_pedido_seq; Type: SEQUENCE; Schema: public; Owner: classux
--

CREATE SEQUENCE public."Pedido_id_pedido_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Pedido_id_pedido_seq" OWNER TO classux;

--
-- Name: Pedido_id_pedido_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: classux
--

ALTER SEQUENCE public."Pedido_id_pedido_seq" OWNED BY public."Pedido".id_pedido;


--
-- Name: SequelizeMeta; Type: TABLE; Schema: public; Owner: classux
--

CREATE TABLE public."SequelizeMeta" (
    name character varying(255) NOT NULL
);


ALTER TABLE public."SequelizeMeta" OWNER TO classux;

--
-- Name: Usuario; Type: TABLE; Schema: public; Owner: classux
--

CREATE TABLE public."Usuario" (
    id_usuario integer NOT NULL,
    nombre character varying(255),
    correo character varying(255),
    clave character varying(255),
    telefono character varying(255),
    rol public.rol_usuario,
    estado public.estado_usuario DEFAULT 'Activo'::public.estado_usuario,
    fecha_creacion timestamp with time zone DEFAULT now(),
    foto_perfil character varying(255)
);


ALTER TABLE public."Usuario" OWNER TO classux;

--
-- Name: Usuario_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: classux
--

CREATE SEQUENCE public."Usuario_id_usuario_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Usuario_id_usuario_seq" OWNER TO classux;

--
-- Name: Usuario_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: classux
--

ALTER SEQUENCE public."Usuario_id_usuario_seq" OWNED BY public."Usuario".id_usuario;


--
-- Name: Venta; Type: TABLE; Schema: public; Owner: classux
--

CREATE TABLE public."Venta" (
    id_venta integer NOT NULL,
    fecha_venta timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    total numeric(10,2),
    cliente_nombre character varying(255),
    id_usuario_vendedor integer,
    estado character varying(255) DEFAULT 'Completada'::character varying
);


ALTER TABLE public."Venta" OWNER TO classux;

--
-- Name: Venta_id_venta_seq; Type: SEQUENCE; Schema: public; Owner: classux
--

CREATE SEQUENCE public."Venta_id_venta_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Venta_id_venta_seq" OWNER TO classux;

--
-- Name: Venta_id_venta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: classux
--

ALTER SEQUENCE public."Venta_id_venta_seq" OWNED BY public."Venta".id_venta;


--
-- Name: Articulo id_articulo; Type: DEFAULT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Articulo" ALTER COLUMN id_articulo SET DEFAULT nextval('public."Articulo_id_articulo_seq"'::regclass);


--
-- Name: Calificacion id_calificacion; Type: DEFAULT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Calificacion" ALTER COLUMN id_calificacion SET DEFAULT nextval('public."Calificacion_id_calificacion_seq"'::regclass);


--
-- Name: Cotizacion id_cotizacion; Type: DEFAULT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Cotizacion" ALTER COLUMN id_cotizacion SET DEFAULT nextval('public."Cotizacion_id_cotizacion_seq"'::regclass);


--
-- Name: Detalle_Cotizacion id_detalle_cotizacion; Type: DEFAULT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Detalle_Cotizacion" ALTER COLUMN id_detalle_cotizacion SET DEFAULT nextval('public."Detalle_Cotizacion_id_detalle_cotizacion_seq"'::regclass);


--
-- Name: Detalle_Pedido id_detalle; Type: DEFAULT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Detalle_Pedido" ALTER COLUMN id_detalle SET DEFAULT nextval('public."Detalle_Pedido_id_detalle_seq"'::regclass);


--
-- Name: Detalle_Venta id_detalle_venta; Type: DEFAULT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Detalle_Venta" ALTER COLUMN id_detalle_venta SET DEFAULT nextval('public."Detalle_Venta_id_detalle_venta_seq"'::regclass);


--
-- Name: Pedido id_pedido; Type: DEFAULT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Pedido" ALTER COLUMN id_pedido SET DEFAULT nextval('public."Pedido_id_pedido_seq"'::regclass);


--
-- Name: Usuario id_usuario; Type: DEFAULT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Usuario" ALTER COLUMN id_usuario SET DEFAULT nextval('public."Usuario_id_usuario_seq"'::regclass);


--
-- Name: Venta id_venta; Type: DEFAULT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Venta" ALTER COLUMN id_venta SET DEFAULT nextval('public."Venta_id_venta_seq"'::regclass);


--
-- Data for Name: Articulo; Type: TABLE DATA; Schema: public; Owner: classux
--



--
-- Data for Name: Calificacion; Type: TABLE DATA; Schema: public; Owner: classux
--

COPY public."Calificacion" (id_calificacion, id_pedido, puntuacion, comentario, fecha_calificacion) FROM stdin;
\.


--
-- Data for Name: Cotizacion; Type: TABLE DATA; Schema: public; Owner: classux
--

COPY public."Cotizacion" (id_cotizacion, fecha_cotizacion, total, cliente_nombre, id_usuario_vendedor) FROM stdin;
\.


--
-- Data for Name: Detalle_Cotizacion; Type: TABLE DATA; Schema: public; Owner: classux
--

COPY public."Detalle_Cotizacion" (id_detalle_cotizacion, id_cotizacion, id_articulo, cantidad, precio_unitario, subtotal) FROM stdin;
\.


--
-- Data for Name: Detalle_Pedido; Type: TABLE DATA; Schema: public; Owner: classux
--

COPY public."Detalle_Pedido" (id_detalle, id_pedido, id_articulo, cantidad, precio_unitario, subtotal) FROM stdin;
1	1	499	1.00	22	22
3	1	30	10.00	20	200
2	1	51	10.00	230	2300
4	2	51	1.00	230	230
5	3	51	12.00	230	2760
6	4	544	2.00	560	1120
7	5	51	1.00	230	230
8	6	18	20.00	155	3100
9	6	1	1.00	55	55
10	7	18	1.00	155	155
12	8	499	3.00	22	66
13	8	690	3.00	22	66
14	8	691	1.00	22	22
15	8	51	10.00	230	2300
16	9	51	20.00	230	4600
17	10	689	7.00	200	1400
18	10	30	1.00	22	22
19	10	18	3.00	155	465
21	11	51	1.00	230	230
\.


--
-- Data for Name: Detalle_Venta; Type: TABLE DATA; Schema: public; Owner: classux
--



--
-- Data for Name: Pedido; Type: TABLE DATA; Schema: public; Owner: classux
--



--
-- Data for Name: SequelizeMeta; Type: TABLE DATA; Schema: public; Owner: classux
--

COPY public."SequelizeMeta" (name) FROM stdin;
20251118190653-enums.js
20251118190759-usuario.js
20251118190806-articulo.js
20251118190815-pedido.js
20251118190842-detalle_pedido.js
20251118190900-calificacion.js
20260105074109-add-photo-fields.js
20260105161033-update_articulo_foto_url_nullable.js
20260105200000-create-venta-detalle.js
20260109205638-add-estado-to-venta.js
20260114160000-create-cotizacion-detalle.js
\.


--
-- Data for Name: Usuario; Type: TABLE DATA; Schema: public; Owner: classux
--



--
-- Data for Name: Venta; Type: TABLE DATA; Schema: public; Owner: classux
--



--
-- Name: Articulo_id_articulo_seq; Type: SEQUENCE SET; Schema: public; Owner: classux
--

SELECT pg_catalog.setval('public."Articulo_id_articulo_seq"', 1021, true);


--
-- Name: Calificacion_id_calificacion_seq; Type: SEQUENCE SET; Schema: public; Owner: classux
--

SELECT pg_catalog.setval('public."Calificacion_id_calificacion_seq"', 1, false);


--
-- Name: Cotizacion_id_cotizacion_seq; Type: SEQUENCE SET; Schema: public; Owner: classux
--

SELECT pg_catalog.setval('public."Cotizacion_id_cotizacion_seq"', 1, true);


--
-- Name: Detalle_Cotizacion_id_detalle_cotizacion_seq; Type: SEQUENCE SET; Schema: public; Owner: classux
--

SELECT pg_catalog.setval('public."Detalle_Cotizacion_id_detalle_cotizacion_seq"', 1, true);


--
-- Name: Detalle_Pedido_id_detalle_seq; Type: SEQUENCE SET; Schema: public; Owner: classux
--

SELECT pg_catalog.setval('public."Detalle_Pedido_id_detalle_seq"', 21, true);


--
-- Name: Detalle_Venta_id_detalle_venta_seq; Type: SEQUENCE SET; Schema: public; Owner: classux
--

SELECT pg_catalog.setval('public."Detalle_Venta_id_detalle_venta_seq"', 286, true);


--
-- Name: Pedido_id_pedido_seq; Type: SEQUENCE SET; Schema: public; Owner: classux
--

SELECT pg_catalog.setval('public."Pedido_id_pedido_seq"', 11, true);


--
-- Name: Usuario_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: classux
--

SELECT pg_catalog.setval('public."Usuario_id_usuario_seq"', 10, true);


--
-- Name: Venta_id_venta_seq; Type: SEQUENCE SET; Schema: public; Owner: classux
--

SELECT pg_catalog.setval('public."Venta_id_venta_seq"', 197, true);


--
-- Name: Articulo Articulo_pkey; Type: CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Articulo"
    ADD CONSTRAINT "Articulo_pkey" PRIMARY KEY (id_articulo);


--
-- Name: Calificacion Calificacion_id_pedido_key; Type: CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Calificacion"
    ADD CONSTRAINT "Calificacion_id_pedido_key" UNIQUE (id_pedido);


--
-- Name: Calificacion Calificacion_pkey; Type: CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Calificacion"
    ADD CONSTRAINT "Calificacion_pkey" PRIMARY KEY (id_calificacion);


--
-- Name: Cotizacion Cotizacion_pkey; Type: CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Cotizacion"
    ADD CONSTRAINT "Cotizacion_pkey" PRIMARY KEY (id_cotizacion);


--
-- Name: Detalle_Cotizacion Detalle_Cotizacion_pkey; Type: CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Detalle_Cotizacion"
    ADD CONSTRAINT "Detalle_Cotizacion_pkey" PRIMARY KEY (id_detalle_cotizacion);


--
-- Name: Detalle_Pedido Detalle_Pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Detalle_Pedido"
    ADD CONSTRAINT "Detalle_Pedido_pkey" PRIMARY KEY (id_detalle);


--
-- Name: Detalle_Venta Detalle_Venta_pkey; Type: CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Detalle_Venta"
    ADD CONSTRAINT "Detalle_Venta_pkey" PRIMARY KEY (id_detalle_venta);


--
-- Name: Pedido Pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Pedido"
    ADD CONSTRAINT "Pedido_pkey" PRIMARY KEY (id_pedido);


--
-- Name: SequelizeMeta SequelizeMeta_pkey; Type: CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."SequelizeMeta"
    ADD CONSTRAINT "SequelizeMeta_pkey" PRIMARY KEY (name);


--
-- Name: Usuario Usuario_correo_key; Type: CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Usuario"
    ADD CONSTRAINT "Usuario_correo_key" UNIQUE (correo);


--
-- Name: Usuario Usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Usuario"
    ADD CONSTRAINT "Usuario_pkey" PRIMARY KEY (id_usuario);


--
-- Name: Venta Venta_pkey; Type: CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Venta"
    ADD CONSTRAINT "Venta_pkey" PRIMARY KEY (id_venta);


--
-- Name: Cotizacion Cotizacion_id_usuario_vendedor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Cotizacion"
    ADD CONSTRAINT "Cotizacion_id_usuario_vendedor_fkey" FOREIGN KEY (id_usuario_vendedor) REFERENCES public."Usuario"(id_usuario) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Detalle_Cotizacion Detalle_Cotizacion_id_articulo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Detalle_Cotizacion"
    ADD CONSTRAINT "Detalle_Cotizacion_id_articulo_fkey" FOREIGN KEY (id_articulo) REFERENCES public."Articulo"(id_articulo) ON UPDATE CASCADE;


--
-- Name: Detalle_Cotizacion Detalle_Cotizacion_id_cotizacion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Detalle_Cotizacion"
    ADD CONSTRAINT "Detalle_Cotizacion_id_cotizacion_fkey" FOREIGN KEY (id_cotizacion) REFERENCES public."Cotizacion"(id_cotizacion) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Detalle_Venta Detalle_Venta_id_articulo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Detalle_Venta"
    ADD CONSTRAINT "Detalle_Venta_id_articulo_fkey" FOREIGN KEY (id_articulo) REFERENCES public."Articulo"(id_articulo) ON UPDATE CASCADE;


--
-- Name: Detalle_Venta Detalle_Venta_id_venta_fkey; Type: FK CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Detalle_Venta"
    ADD CONSTRAINT "Detalle_Venta_id_venta_fkey" FOREIGN KEY (id_venta) REFERENCES public."Venta"(id_venta) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Venta Venta_id_usuario_vendedor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Venta"
    ADD CONSTRAINT "Venta_id_usuario_vendedor_fkey" FOREIGN KEY (id_usuario_vendedor) REFERENCES public."Usuario"(id_usuario) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Pedido fk_admin_creador; Type: FK CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Pedido"
    ADD CONSTRAINT fk_admin_creador FOREIGN KEY (id_admin_creador) REFERENCES public."Usuario"(id_usuario);


--
-- Name: Calificacion fk_calif_pedido; Type: FK CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Calificacion"
    ADD CONSTRAINT fk_calif_pedido FOREIGN KEY (id_pedido) REFERENCES public."Pedido"(id_pedido);


--
-- Name: Detalle_Pedido fk_dp_articulo; Type: FK CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Detalle_Pedido"
    ADD CONSTRAINT fk_dp_articulo FOREIGN KEY (id_articulo) REFERENCES public."Articulo"(id_articulo);


--
-- Name: Detalle_Pedido fk_dp_pedido; Type: FK CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Detalle_Pedido"
    ADD CONSTRAINT fk_dp_pedido FOREIGN KEY (id_pedido) REFERENCES public."Pedido"(id_pedido);


--
-- Name: Pedido fk_repartidor; Type: FK CONSTRAINT; Schema: public; Owner: classux
--

ALTER TABLE ONLY public."Pedido"
    ADD CONSTRAINT fk_repartidor FOREIGN KEY (id_repartidor_asignado) REFERENCES public."Usuario"(id_usuario);


--
-- PostgreSQL database dump complete
--

\unrestrict adV1RiIpkDGm5A1zNfiuPNYYKUEIpungNWNLkRccVw8p70RP3BIgA98jcW03GAi

